<%- include('partials/header', { title: 'Reset Password' }) %>

<div class="container d-flex justify-content-center">
  <form action="/reset/<%= token %>" method="POST" class="auth-box">
    <h3 class="mb-4 text-center">Reset Password</h3>
    <div class="mb-3">
      <label>New Password</label>
      <input type="password" name="password" class="form-control" required />
    </div>
    <div class="mb-3">
      <label>Confirm Password</label>
      <input type="password" name="confirmPassword" class="form-control" required />
    </div>
    <button class="btn btn-success w-100">Reset Password</button>
  </form>
</div>

<%- include('partials/footer') %>
